@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Righteous&family=Thasadith:wght@700&display=swap');

footer {
    display: flex;
    flex-direction: column;
    margin: 5% 0% 0 0;
    padding: 2% 0;
    background-color: #f5f5f5;
}

footer .firstDiv {
    padding-top: 3%;
}

p {
    text-align: center;
    font-size: 1.2em;
    font-family: 'Thasadith', sans-serif;
    margin-top: 0;
}
.links {
    display: flex;
    justify-content: space-around;
    margin-right: 2%;
    align-content: center;
}

.each {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    
}


.links .MuiSvgIcon-root {
    color: #37384E;
    text-align: center;
    margin-bottom: 0;
}

@media (max-width:600px) {
    .MuiBox-root {
        padding-left: 0 !important;
        margin: 0;
    }
    p{
        font-size: 0.8em;
    }
    .links .MuiSvgIcon-root {
        font-size: 1.5em;
    }
    footer {
        width: 100vw !important;
    }
}

@media (min-width:1500px)  {
    footer {
        background-color: transparent;
    }
}